*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Manrope", sans-seri;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  padding-top: 36px;
  margin-bottom: 117px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  cursor: pointer;
  font-weight: 800;
  font-size: 23px;
  line-height: 1.347826087;
  color: #31353b;
}
.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: -46px;
  z-index: 99;
}
.header-item {
  margin-left: 46px;
}
.header-link {
  font-family: "Dm Sans", sans-seri;
  font-size: 13px;
  line-height: 1.3076923077;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: all 0.3s linear;
}
.header-link:hover {
  text-decoration: underline;
}
.header-background {
  position: absolute;
  right: 0;
  top: 0;
  background: #bdccff;
  width: 511px;
  height: 841px;
  z-index: 1;
}

.menu {
  display: none;
  position: absolute;
  list-style: none;
  margin-top: -40px;
  background: #bdccff;
  padding: 40px 20px;
  border-radius: 4px;
  width: 350px;
  top: 45px;
  right: 0;
  transform: translateX(150%);
  transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 999;
}
.menu-active {
  font-size: 30px;
  display: none;
  z-index: 999999;
}
.menu-link {
  text-decoration: none;
  color: #31353b;
  text-align: left;
  transition: all 0.3s linear;
}
.menu-link:hover {
  font-weight: bold;
}
.menu-item:not(:first-child) {
  margin-top: 40px;
}

@media screen and (max-width: 1170.98px) {
  .header-background {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header-menu {
    display: none;
  }

  .menu {
    display: block;
  }
  .menu-active {
    display: block;
  }

  .is-show {
    transform: translateX(10%);
  }
}
.hero {
  margin-bottom: 223px;
  position: relative;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
}
.hero-content {
  flex: 1;
}
.hero-caption {
  font-family: "Dm Sans", sans-seri;
  font-size: 22px;
  line-height: 1.3181818182;
  font-weight: bold;
  color: #ff9900;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.hero-heading {
  font-size: 54px;
  line-height: 1.3518518519;
  color: #000;
  max-width: 484px;
  width: 100%;
  margin-bottom: 23px;
}
.hero-desc {
  font-size: 17px;
  line-height: 1.3529411765;
  color: #31353b;
  letter-spacing: 0.01em;
  max-width: 499px;
  width: 100%;
  margin-bottom: 48px;
}
.hero-button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  background: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  max-width: 756px;
  width: 100%;
  margin-bottom: 145px;
}
.hero-button img {
  margin-left: 33px;
  margin-right: 20px;
}
.hero-input {
  flex: 1;
}
.hero-input::placeholder {
  color: #31353b;
  opacity: 0.3;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 1.35;
}
.hero-btn {
  cursor: pointer;
  background: #f85a47;
  padding: 32px 42px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  z-index: 999;
}
.hero-image {
  position: absolute;
  right: 0;
  z-index: 99;
}
.hero-partners-caption {
  font-family: "Manrope", sans-seri;
  font-size: 17px;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 27px;
}
.hero-partners-info {
  display: flex;
  align-items: center;
  margin-left: -50px;
}
.hero-partners-info img {
  z-index: 999;
  margin-left: 50px;
}
.hero-infomation {
  position: absolute;
  margin-top: -26px;
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 25px;
  top: 200px;
  z-index: 999;
}
.hero-infomation img {
  cursor: pointer;
  margin-top: 26px;
}

@media screen and (max-width: 1440.98px) {
  .hero-partners-info img {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1228.98px) {
  .hero-input::placeholder {
    color: #31353b;
    opacity: 0.3;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 1.35;
  }
  .hero-button {
    max-width: 556px;
    width: 100%;
  }
}
@media screen and (max-width: 1170.98px) {
  .hero-image {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    margin-bottom: 20px;
  }
  .hero-partners-info, .hero-partners-caption {
    display: none;
  }
  .hero-infomation {
    display: none;
  }
  .hero-btn {
    padding: 10px 13px;
    font-size: 14px;
  }
  .hero-input {
    flex: 1;
  }
  .hero-input::placeholder {
    color: #31353b;
    opacity: 0.3;
    font-size: 10px;
    letter-spacing: 0.01em;
    line-height: 1.35;
  }
}
.works {
  margin-bottom: 225px;
}
.works-caption {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
  color: #000;
  margin-bottom: 70px;
}
.works-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works-content img {
  cursor: pointer;
}

@media screen and (max-width: 1179.98px) {
  .works-content {
    flex-direction: column;
  }
  .works-content-images {
    display: none;
  }
}
.feature {
  margin-bottom: 243px;
}
.feature-header {
  margin-bottom: 50px;
}
.feature-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.feature-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
  color: #000;
}
.feature-button {
  cursor: pointer;
  font-size: 17px;
  line-height: 1.3529411765;
  background: #f85a47;
  color: #fff;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  padding: 22px 33px;
}
.feature-desc {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  max-width: 470px;
  width: 100%;
}
.feature-list {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 1.3684210526;
  margin-left: -50px;
  margin-bottom: 57px;
}
.feature-items {
  position: relative;
  cursor: pointer;
  margin-left: 50px;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.feature-items:hover::before {
  content: "";
  position: absolute;
  background: transparent;
  padding: 0;
  border: 1px solid #f85a47;
  width: 100%;
  top: 30px;
}
.feature-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-items:first-child {
  color: #f85a47;
}
.feature-items:first-child::before {
  content: "";
  position: absolute;
  background: transparent;
  padding: 0;
  border: 1px solid #f85a47;
  width: 100%;
  top: 30px;
}

@media screen and (max-width: 1179.98px) {
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature-button, .feature-heading {
    margin-bottom: 20px;
  }
  .feature-images {
    flex-direction: column;
    margin-top: -15px;
  }
  .feature-images img {
    display: block;
    margin-top: 15px;
  }
  .feature-header-top {
    display: block;
  }
}
@media screen and (max-width: 829.98px) {
  .feature-items {
    font-size: 14px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .feature {
    margin-bottom: 110px;
  }
  .feature-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feature-items {
    font-size: 8px;
    margin-left: 10px;
  }
  .feature-items:hover::before {
    content: "";
    position: absolute;
    background: transparent;
    padding: 0;
    border: 1px solid #f85a47;
    width: 100%;
    top: 15px;
  }
  .feature-items:first-child {
    color: #f85a47;
  }
  .feature-items:first-child::before {
    content: "";
    position: absolute;
    background: transparent;
    padding: 0;
    border: 1px solid #f85a47;
    width: 100%;
    top: 15px;
  }
}
.service {
  margin-bottom: 196px;
}
.service-caption {
  font-family: "Manrope", sans-seri;
  color: #000;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 95px;
}
.service-content {
  background: #f1ffff;
  padding: 39px;
  padding-bottom: 82px;
  display: flex;
  position: relative;
}
.service-image {
  margin-right: 77px;
}
.service-image-building {
  width: 492px;
}
.service-image-room {
  position: absolute;
  left: 0px;
  top: 290px;
}
.service-heading {
  margin-top: 82px;
  font-family: "Manrope", sans-seri;
  font-weight: 600;
  font-size: 31px;
  line-height: 1.3548387097;
  color: #000;
  margin-bottom: 28px;
  max-width: 378px;
  width: 100%;
}
.service-text {
  font-size: 16px;
  line-height: 1.5;
  color: #545a58;
  max-width: 344px;
  width: 100%;
  margin-bottom: 42px;
}
.service-description-top {
  display: flex;
  margin-left: -81px;
  margin-bottom: 37px;
}
.service-description-bot {
  display: flex;
  margin-left: -81px;
  margin-bottom: 70px;
}
.service-items {
  margin-left: 81px;
}
.service-properties {
  display: block;
  color: #000;
  font-size: 17px;
  line-height: 1.3529411765;
  font-weight: bold;
  margin-bottom: 12px;
}
.service-button {
  cursor: pointer;
  font-family: "Dm Sans", sans-seri;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  color: #fff;
  background: #f85a47;
  padding: 16px 38px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}

@media screen and (max-width: 960.98px) {
  .service-image {
    display: none;
  }
  .service-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-caption {
    margin-bottom: 50px;
  }
  .service-heading {
    margin-top: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .service-items {
    margin-left: 40px;
  }

  .service {
    margin-bottom: 110px;
  }
  .service-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .service-properties, .service-value {
    text-align: center;
  }
}
.testimonial {
  margin-bottom: 210px;
}
.testimonial-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
  color: #000;
  max-width: 570px;
  width: 100%;
  margin-bottom: 51px;
}
.testimonial-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}
.testimonial-partners {
  display: flex;
  align-items: center;
}
.testimonial-more {
  margin-left: 107px;
  font-family: "Roboto", sans-seri;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  max-width: 311px;
  width: 100%;
}
.testimonial-more a {
  color: #2cbde7;
  text-decoration-line: underline;
}

@media screen and (max-width: 1179.98px) {
  .testimonial {
    margin-bottom: 110px;
  }
  .testimonial-heading {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .testimonial-comment {
    flex-direction: column;
    margin-top: -15px;
  }
  .testimonial-comment img {
    margin-top: 15px;
  }
  .testimonial-partners {
    flex-direction: column;
  }
  .testimonial-partners img {
    margin-bottom: 20px;
  }
  .testimonial-more {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .testimonial {
    margin-bottom: 10px;
  }
}
.footer {
  background: #fbfcfc;
  padding-top: 162px;
  padding-bottom: 36px;
}
.footer-caption {
  font-weight: bold;
  color: #31353b;
  font-size: 45px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 11px;
}
.footer-heading {
  font-weight: bold;
  font-size: 23px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #31353b;
  margin-bottom: 34px;
}
.footer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 45px;
  background: #ffffff;
  max-width: 686px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  border-radius: 15px;
  margin-bottom: 160px;
}
.footer-mail input {
  font-weight: 500;
  font-size: 17px;
  color: #31353b;
  opacity: 0.2;
}
.footer-mail span {
  display: block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #31353b;
  opacity: 1;
}
.footer-btn {
  cursor: pointer;
  padding: 23px 40px;
  color: #fff;
  background: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 4px;
}
.footer-border {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
}
.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
}
.footer-end {
  font-family: "Dm Sans", sans-seri;
  font-weight: bold;
  text-align: center;
  color: #31353b;
  font-size: 12px;
  line-height: 1.3333333333;
}

@media screen and (max-width: 767.98px) {
  .footer-button {
    padding: 20px 20px;
    background: #ffffff;
    max-width: 686px;
    width: 100%;
  }
  .footer-mail {
    flex: 1;
  }
  .footer-mail span {
    font-size: 16px;
  }
  .footer-mail input {
    font-size: 14px;
  }
  .footer-btn {
    padding: 15px 20px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=app.css.map */
