body {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: $font-manrope;
  font-size: 16px;
  color: $black-00;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
